{% render 'preloader-short' %}

{% render 'marquee' %}

{% assign collection = collections['opius-webshop'] %}

<div class="mb-10 pt-20 xl:mb-16 xl:pt-36">
  <div class="wrap">
    <div class="grid grid-cols-2 gap-x-4 gap-y-12 lg:grid-cols-3 xl:grid-cols-4">
      {% for product in collection.products %}
        {% render 'product-card', product: product, index: forloop.index %}
      {% endfor %}
    </div>
  </div>
</div>

{% render 'cart-notification' %}

<div class="wrap mt-24 bg-black pt-24">
  <div class="wrap mx-auto max-w-xl pb-20"></div>
  <div class="grid grid-cols-12 gap-4">
    <img
      width=""
      height=""
      src="{{ 'fugazi-01.jpg' | asset_url  }}"
      alt="{{ product.title }}"
      class="item-image col-span-12 h-full max-h-[45vh] w-full translate-y-24 object-cover opacity-0 lg:col-span-3"
    >
    <img
      width=""
      height=""
      src="{{ 'bottles-event.jpg' | asset_url  }}"
      alt="{{ product.title }}"
      class="item-image col-span-12 h-full max-h-[45vh] w-full translate-y-24 object-cover opacity-0 lg:col-span-6"
    >
    <img
      width=""
      height=""
      src="{{ 'vonk-amaro.jpg' | asset_url  }}"
      alt="{{ product.title }}"
      class="item-image col-span-12 hidden h-full max-h-[45vh] w-full translate-y-24 object-cover opacity-0 lg:col-span-3 lg:block"
    >
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    // Animation for the product items
    gsap.to('.item-image', {
      opacity: 1,
      translateY: 0,
      stagger: 0.05,
      delay: 1.1,
    });

    // Function to detect if the images are in view and trigger the animation
    function isInView(element) {
      const rect = element.getBoundingClientRect();
      return (
        rect.top >= 0 &&
        rect.left >= 0 &&
        rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
        rect.right <= (window.innerWidth || document.documentElement.clientWidth)
      );
    }

    const imageContainer = document.querySelectorAll('.item-image');
    const handleScroll = () => {
      imageContainer.forEach((img) => {
        if (isInView(img)) {
          gsap.to(img, {
            opacity: 1,
            translateY: 0,
            stagger: 0.05,
            delay: 0.3,
          });
        }
      });
    };

    // Check on page load
    handleScroll();

    // Check on scroll
    window.addEventListener('scroll', handleScroll);
  });
</script>

{% comment %} <script src="{{ 'cart-notification.js' | asset_url }}" async></script> {% endcomment %}
